* {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 1em;
  
  user-select: none;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 20px 0;
}

#links {
  display: flex;
  flex-direction: column;

  width: 300px;
  max-width: 90vw !important;
  margin: 0 auto;

  background-color: rgb(5, 5, 5);
  padding: 20px;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

#links * {
  color: white;
}

#links a {
  margin-right: auto;
}

#links a:hover::before {
  content: ">";
  display: inline-block;
  text-decoration: none;
  margin-right: 7px;
}

#links #blink {
  margin-top: 20px;
}