* {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 1em;
  
  user-select: none;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: rgba(230, 230, 230, 1);
  overflow: hidden;
}

h1 {
  margin: 20px 0;
}

.terminal {
  position: relative;

  width: 300px;
  max-width: 90vw !important;
  margin: 0 auto;

  background-color: rgba(5, 5, 5, 1);

  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}


.terminal__content {
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.terminal__content * {
  color: white;
}

.terminal__content a {
  margin-right: auto;
}

.terminal__content a:hover::before {
  content: ">";
  display: inline-block;
  text-decoration: none;
  margin-right: 7px;
}

.terminal__content #blink {
  margin-top: 20px;
}